<button style="margin-left: 10px" mat-raised-button (click)="click()">switchMap</button>
<p>{{val}}</p>
<button style="margin-left: 10px" mat-raised-button (click)="mergeMap()">mergeMap</button>
<p>{{result}}</p>
<button style="margin-left: 10px" mat-raised-button (click)="concatMap()">concatMap</button>
<p>{{res}}</p>
<button style="margin-left: 10px" mat-raised-button (click)="scan()">scan</button>
<p>{{data}}</p>

<button style="margin-left: 10px" mat-raised-button (click)="start()">Start</button>
<button style="margin-left: 10px" mat-raised-button (click)="stop()">Stop</button>
<p>{{min}} : {{sec}}</p>

<!-- <div class="imgdiv" >
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick11.png?raw=true" width=100 height=100 cdkDrag
        cdkDrop cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick5.png?raw=true" width=100 height=100 cdkDrag
        cdkDrop cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick9.png?raw=true" width=100 height=100 cdkDrag
        cdkDrop cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick1.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick13.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick6.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick7.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick15.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick2.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick16.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick8.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick19.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick12.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick10.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick3.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick18.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick17.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick4.png?raw=true" width=100 height=100 cdkDrag
        cdkDragBoundary=".imgdiv">
    <img src="https://github.com/AlekhyaDatla/Mickymouse/blob/master/mick14.png?raw=true" width=100 height=100 cdkDrag
        cdkDrop cdkDragBoundary=".imgdiv">
</div> -->