<p>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button> -->
    
    <a style="margin-left: 20px;color: white;" routerLink=""><span>Theme</span></a>
    <span><a href="" style="margin-left: 20px;color: white;" routerLink="/ai">AI</a></span>
    <a style="margin-left: 20px;color: white;" routerLink="/broad"><span>State Management</span></a>
    <a style="margin-left: 20px;color: white;" routerLink="/csp"><span>CPS</span></a>
    <a style="margin-left: 20px;color: white;" routerLink="/paytm"><span>PG</span></a>
    <a style="margin-left: 20px;color: white;" routerLink="/pay"><span>Paytm PG</span></a>
    <a style="margin-left: 20px;color: white;" routerLink="/rxjs"><span>Rxjs Workouts</span></a>




    <!-- <a style="margin-left: 10px;color: white;" routerLink="/load"><span>Load</span></a> -->


    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
    <mat-icon>favorite</mat-icon>
    <!-- </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
    <mat-icon>share</mat-icon>
    <!-- </button> -->
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
